.bigbox{
	width: 500px;
	height: 300px;
}

.upperbox{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px; /*框为显示大小*/
	height: 200px;

	overflow: hidden;
	z-index: 0;	
}


.smallbox{
	position: absolute;
	width: 2500px; /*实际大小，随图片数量变化*/
	height: 200px;
	top: 0px;
	left: 0px;
}

.bigpicsize{
	width: 500px;
	height: 200px;

	float: left;
}

#showbox{
	position: absolute;
	width: 500px;
	height: 100px;
	top: 200px;
	left: 0px;
}

.picsize{
	width: 100px;
	height: 100px;

	float: left;
	opacity: 0.3;
}

#picFirst{
	opacity: 1;
}

.arrow{
	position: absolute;
	top: 0px;
	left: 0px;

	display: none; /*不显示*/
	z-index: 2;
	opacity: 0.3; /*透明度*/
}

#leftarrow{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 100px;
	left: 0px;
}

#rightarrow{
	position: absolute;
	width: 50px;
	height: 50px;
	top: 100px;
	left: 450px;
}